# Exclude everything
/*

# Keep repository-level configuration and metadata
!/.github
!/.devcontainer
!/plugin
!/plugin-worker
!.gitignore
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store
